---
import BaseLayout from '../layouts/BaseLayout.astro';
import Block from '../components/Block.astro';
import { Image } from 'astro:assets';
import profilePicture from '../images/profile.jpg';
import '../styles/global.css';

const identity = {
    name: "Kona",
    hobbies: ["Coding", "Gaming", "Talking to friends"],
    skills: ["HTML", "CSS", "JavaScript", "Python", "SQL"]
}
---

<BaseLayout pageTitle="About Me!" tabTitle="Home">
    <div class="index-body">
        <div class="left-body">
            <Block blockTitle="Welcome!">

                <style>
                    p strong {
                        color: rgb(209, 133, 219);
                    }
                </style>

                <h3 style="color: white">What you'll see here</h3>
                <p>I will be working on this website on my free time and write blogs for Cybersecurity CTFs (Yes I do those!)</p>
                <p>I also plan to showcase any personal projects I have done with documentation of how it works and the process of me creating it</p>
                <p>No, I'm not a professional (Not yet at least..) but I do have a passion for technology and I always love to tinker with computers</p>
                <br>
                <p>
                    This website is made using the <em style="color: rgb(209, 133, 219)">Astro</em> framework, I actually just learned how this work and went ahead to use it, 
                    but I am already familiar with some <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong> so it was pretty easy to learn.
                </p>

                <p style="font-size: 90px; margin-top: 20px; text-align: center">:3</p>

            </Block>
        </div>
        <div class="right-body">
            <Block blockTitle="About Me">
                <style>
                    .skill {
                        color: rgb(209, 133, 219);
                        font-weight: bold;
                    }
                </style>

                <Image src={profilePicture} alt={'Profile Picture'} class="pfp" width={175} height={175}/>

                <p style="text-align: center; font-size: 12px"><i>I am a normal furry that loves to tinker with computers!</i></p>

                <h2>Quick Facts</h2>
                <ul>
                    <li>I go by the name <em style="color: rgb(209, 133, 219)">{identity.name}</em>.</li>
                    <li>Two of my hobbies are: <em style="color:rgb(209, 133, 219)">{identity.hobbies[0]}</em> and <em style="color:rgb(209, 133, 219)">{identity.hobbies[1]}</em></li>
                </ul>

                <p>Things I can do!</p>
                <ul>
                    {identity.skills.map((skill) => <li class="skill">{skill}</li>)}
                </ul>
            </Block>
        </div>
    </div>
</BaseLayout>